html {
    overflow-y: scroll;
}




body {
    background-color: #f2f2f2;
    
}

img {
    pointer-events: none;
    border-radius: 8px;
    height: auto;
    max-width: 100%;
}



.container1{
    display: flex;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    min-height: 5vh;
}

.container2{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0.5%;
    text-align: center;
}

.container3{
    display: flex;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}



.containerMyTitle{
    display: flex;
    text-align: center;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 8px;
    align-items: center;
    background-color: #030089;
    color: white;
}

@media (max-aspect-ratio: 4/3) {
    .container2{
        flex-direction: column;
    }
    .container3{
        margin-left: 0%;
        margin-right: 0%;
    }
}

@media (max-aspect-ratio: 1/1) {
    .containerMyTitle{
        margin-top: 2%;
        margin-left: 0%;
        margin-right: 0%;
    }
    .container1{
        margin-left: 0%;
        margin-right: 0%;
    }
    .container2{
        margin-left: 0%;
        margin-right: 0%;

        flex-direction: column;
    }
    .container3{
        margin-left: 0%;
        margin-right: 0%;
    }
}

.Box1 {
    flex: 1;
    background-color: rgb(123, 120, 154);
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;
}
.Box2 {
    flex: 1;
    background-color: rgb(174, 172, 192);
    border: none;
    cursor: pointer;
}
.Box2-1 {
    flex: 1;
    background-color: rgb(174, 172, 192);
    border: none;
    cursor: pointer;
}
.Box3 {
    flex: 1;
    background-color: rgb(174, 172, 192);
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}

@media (max-aspect-ratio: 4/3) {
    .Box4 {
        margin-top: 1%;
        margin-bottom: 1%;

        flex: 1;
        flex-grow: 1;
        background-color: white;
        border-radius: 8px;
    }
    .Box5 {
        margin-top: 1%;
        margin-bottom: 1%;

        flex: 1;
        flex-grow: 1;
        background-color: white;
        border-radius: 8px;
    }
}

@media (max-aspect-ratio: 1/1) {
    .Box4 {
        margin-top: 1%;
        margin-bottom: 1%;

        flex: 1;
        flex-grow: 1;
        background-color: white;
        border-radius: 8px;
    }
    .Box5 {
        margin-top: 1%;
        margin-bottom: 1%;

        flex: 1;
        flex-grow: 1;
        background-color: white;
        border-radius: 8px;
    }
}

@media (min-aspect-ratio: 4/3) {
    .Box4 {
        flex: 1;
        flex-grow: 1;
        background-color: white;
        margin-right: 0.5%;
        border-radius: 8px;
    }
    .Box5 {
        flex: 1;
        flex-grow: 1;
        background-color: white;
        margin-left: 0.5%;
        border-radius: 8px;
    }
}
.Box3-1 {
    flex: 1;
    flex-grow: 1; 
}

.MyTitleBox1 {
    flex: 1;
    flex-grow: 1; 
}
.ButtonBox {
    flex: 1;
    flex-grow: 1;
    
}


.external_link{
    width: 10%;
    min-width: 80px;
    height: auto;
    min-height: 4vh;
    background-color: white;
    border-radius: 8px;
    border-color:gray;

    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.external_link img {
    width: 30px;
    min-width: 4vh;
    height: 30px;
    min-height: 4vh;
}

@media (max-aspect-ratio: 1/1){
    .external_link{
        width: 15%;
        min-width: 100px;
    }
}

.ButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ButtonBox1 {
    flex-grow: 0;
    text-align: left;
    flex-shrink: 0;
}

.ButtonBox2 {
    flex-grow: 1;
    
}
