html {
    overflow-y: scroll;
}

body {
    background-color: #f2f2f2;
}


.container1{
    display: flex;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    min-height: 5vh;
}

.container2{
    display: flex;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    background-color: grey;

    border-radius: 8px;
}

@media (max-aspect-ratio: 1/1) {
    .container1{
        margin-left: 0%;
        margin-right: 0%;
    }
    .container2{
        margin-top: 2%;
        margin-left: 0%;
        margin-right: 0%;
    }
}

.Box1 {
    flex: 1;
    background-color: rgb(174, 172, 192);
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;
}
.Box2 {
    flex: 1;
    background-color: rgb(174, 172, 192);
    border: none;
    cursor: pointer;
}
.Box2-1 {
    flex: 1;
    background-color: rgb(123, 120, 154);
    border: none;
    cursor: pointer;
}
.Box3 {
    flex: 1;
    background-color: rgb(174, 172, 192);
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}


.Box4 {
    flex: 1;
    flex-grow: 1;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

/*
@media (min-aspect-ratio: 1/1) {
    .Box4 {
        flex: 1;
        flex-grow: 1;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 1.5%;
        margin-bottom: 1.5%;
    }
}
@media (max-aspect-ratio: 1/1)
{
    .Box4 {
        flex: 1;
        flex-grow: 1;
        margin: 1.5%;
    }
}
*/

.projectRow {
    display: flex;
}

.projectCardContainer {
    flex:1;
    margin: 1%;
    border-radius: 8px;
}

.projectCard {
    flex:1;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    cursor: pointer;
}

@media (min-aspect-ratio: 1/1) {
    .projectCard {
        background-size: contain;
        aspect-ratio: 1 / 1;
    }
}

@media (max-aspect-ratio: 1/1) {
    .projectCard {
        background-size: 80%;
        aspect-ratio: 16/9;
    }
}

.projectCardTitle {
    background-color: rgb(223, 223, 223);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 1.5vw;
}

@media (max-aspect-ratio: 1/1) {
    .projectCardTitle {
        font-size: 4vw;
    }
    .projectRow {
        flex-direction: column;
    }
    
}

.fillerProjectCard {
    flex:1;
    background-color: green;
    margin: 1%;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
}
