html {
    overflow-y: scroll;
}

body {
    background-color: #f2f2f2;
}


.container1{
    display: flex;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    min-height: 5vh;
}

.container2{
    display: flex;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

@media (max-aspect-ratio: 1/1) {
    .containerMyTitle{
        margin-left: 0%;
        margin-right: 0%;
    }
    .container1{
        margin-left: 0%;
        margin-right: 0%;
    }
    .container2{
        margin-top: 2%;
        margin-left: 0%;
        margin-right: 0%;
    }
}


.Box1 {
    flex: 1;
    background-color: rgb(174, 172, 192);
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    cursor: pointer;
}
.Box2 {
    flex: 1;
    background-color: rgb(123, 120, 154);
    border: none;
    cursor: pointer;
}
.Box2-1 {
    flex: 1;
    background-color: rgb(174, 172, 192);
    border: none;
    cursor: pointer;
}
.Box3 {
    flex: 1;
    background-color: rgb(174, 172, 192);
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
}
.Box4 {
    flex: 1;
    border: none;
}

.pdf {
    width: 100%;
    height: 700px;
}