<html>
<head>
    <title>My website</title>
    <link rel="stylesheet" type="text/css" href="../static/homepage_style.css"/>
    <script type="text/javascript" src="../static/functions.js"></script>
</head>

<body>
    <div class = "container1">
        <button type="button" class="Box1"><h2>About Me</h2></button>
        <button type="button" class="Box2" onclick="resume();"><h2>Resume</h2></button>
        <button type="button" class="Box2-1" onclick="projects();"><h2>Projects</h2></button>
        <button type="button" class="Box3" onclick="interests();"><h2>Interests</h2></button>
    </div>

    <div class = "containerMyTitle">
        <div class="MyTitleBox1">
            <h1>Andy Zhou</h1>
            <a href = "https://engineering.buffalo.edu/home/academics/undergrad/programs/majors/computer-science.html" target="_blank" style="text-decoration:none"><h2 style="color:white">Univeristy at Buffalo CSE Bachelors</h2></a>
        </div>
    </div>

    <div class = "container2">
        <div class="Box4">
            <img src = ../static/me.png>
        </div>
        <div class="Box5">
            <h2>About me</h2>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor error voluptas maiores suscipit ea alias, perferendis non! Dolor, explicabo. Suscipit officia dolorem ex necessitatibus consequuntur illum omnis labore odit est.</h3>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor error voluptas maiores suscipit ea alias, perferendis non! Dolor, explicabo. Suscipit officia dolorem ex necessitatibus consequuntur illum omnis labore odit est.</h3>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor error voluptas maiores suscipit ea alias, perferendis non! Dolor, explicabo. Suscipit officia dolorem ex necessitatibus consequuntur illum omnis labore odit est.</h3>
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor error voluptas maiores suscipit ea alias, perferendis non! Dolor, explicabo. Suscipit officia dolorem ex necessitatibus consequuntur illum omnis labore odit est.</h3>
            
        </div>
    </div>
    <div class = "container3">
        <div class="Box3-1">
            <button type="button" class="external_link" onclick="linkedin();">
                
                <div class = "ButtonContainer">
                    <div class="ButtonBox1">
                        <img src="../static/linkedinlogo.png">
                    </div>
                    <div class="ButtonBox2">
                        LinkedIn
                    </div>
                </div>
            </button>
            
            <button type="button" class="external_link" onclick="github();">
                <div class = "ButtonContainer">
                    <div class="ButtonBox1">
                        <img src="../static/githublogo.jpg">
                    </div>
                    <div class="ButtonBox2">
                        Github
                    </div>
                </div>
            </button>

            <button type="button" class="external_link" onclick="linkedin();">
                <div class = "ButtonContainer">
                    <div class="ButtonBox1">
                        <img src="../static/leetcodelogo.png">
                    </div>  
                    <div class="ButtonBox2">
                        Leetcode-N/A
                    </div>
                </div>
            </button>
            

        </div>
    </div>
</body>
</html>